.game-card {
    width: 100%;
    border-radius: 16px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 20px;
    font-family: Poppins;
}

.live-badge{
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #ff4747, #a80608);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 2px 10px;
    box-sizing:border-box;
}

.live-text{
    font-size: 24px;
    font-family: Poppins;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teams-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.team-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    color: white;
    font-size: 18px;
}

.odd-box {
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: Poppins;
    color: #000;
}
