@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.home-page-container {
    position: relative;
}
.main_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
}

.navbar {
    position: relative;
    background-color: #141414;
    border-bottom: 1px solid #373737;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 16px;
    width: 100%;
    font-family: Poppins, serif;
    height: 80px;
    flex-shrink: 0;
}

.logo{
    height: 35px;
    width: 179px;
    text-align: left;
}

.btn-custom{
    margin-right: 20px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    color: #000000 !important;

    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.btn-warning{
    background-color: #fee000 !important;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.btn-profile {
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    color: #000000 !important;
    border: none !important;

    font-weight: 600;
    font-size: 14px;

    padding: 8px 20px;
    border-radius: 4px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    font-family: 'Poppins', sans-serif;
}

.btn-profile:hover,
.btn-profile:focus,
.btn-profile:active {
    background-color: #d1d1d1 !important; /* Зробив темнішим (сірим), щоб точно працювало */
    color: #000000 !important;

}