.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    /* Мінімальна висота, коли закритий */
    height: auto;
    min-height: 468px;
    /* Обмежуємо максимальну висоту, щоб не виліз за футер, але дозволяємо рости */
    max-height: calc(100vh - 100px);
    width: 84px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, height 0.3s ease, max-height 0.3s ease;
    z-index: 100;
    border-right: 1px solid #373737;
    border-bottom: 1px solid #373737;
    overflow: hidden;
    min-width: 12px; /* Забороняємо стискання */
    object-fit: contain;
}

.sidebar-arrow{
    background-color: white;
}

/* Використовуємо ваш новий клас sidebar--open */
.sidebar.sidebar--open {
    width: 250px;
}

.sidebar-item-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    transition: background 0.2s ease;
}

.sidebar-icon {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    padding: 2px;
    border-radius: 8px;
}

.sidebar-label {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;

}
.sidebar-item.item-home .sidebar-icon {
    background-color: #FFFFFF !important;
    border-radius: 8px;
}

.sidebar-arrow{
    color: white;
    background: none;
}
.sidebar.sidebar--open .sidebar-arrow {
    opacity: 1;
}

.sidebar.sidebar--open .sidebar-label {
    opacity: 1;
    visibility: visible;
}

.sidebar-submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    background-color: #1a1a1a;
}

.sidebar.sidebar--open .sidebar-item-wrapper:hover .sidebar-submenu {
    max-height: 500px;
    opacity: 1;
    padding-bottom: 10px;
}

.submenu-item {
    padding: 8px;
    color: #999;
    font-size: 14px;
    transition: color 0.2s;
}

.submenu-item:hover {
    color: #fff;
}

/* ОВЕРЛЕЙ */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 50;
}

.sidebar-overlay--active {
    opacity: 1;
    pointer-events: auto;
}