@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600&display=swap');
body {
    margin: 0; line-height: normal;
}

.frame-parent {
    width: 100%;
    position: relative;
    background-color: #141414;
    border-bottom: 1px solid #373737;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
}
.frame-child {
    height: 35px;
    width: 179px;
    position: relative;
}
.sign-parent {
    display: flex;
    align-items: center;
    gap: 20px;
}
.sign {
    height: 40px;
    width: 101px;
    border-radius: 5px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    box-sizing: border-box;
}
.sign-up {
    position: relative;
    font-weight: 600;
}
.sign2 {
    height: 40px;
    width: 173px;
    border-radius: 5px;
    background: linear-gradient(180deg, #fee000, #d0b907);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    box-sizing: border-box;
}
.sign-up2 {
    position: relative;
    font-weight: 600;
    flex-shrink: 0;
}
.setings {
    height: 40px;
    width: 40px;
    position: relative;
}
.setings-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

