@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(16, 16, 16, 0.7);
    font-family: 'Poppins', sans-serif;
    z-index: 9999; /* Поверх усього */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.login-card {
    width: 516px;
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.card-top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bp-logo-small {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    color: #FEE000;
    letter-spacing: -1px;
}
.bp-logo-small::first-letter { color: white; }

.close-icon {
    color: #888;
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s;
}
.close-icon:hover { color: white; }

.login-title {
    font-weight: 700;
    font-size: 24px;
    color: #FEE000;
    margin-bottom: 40px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.custom-input {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 0 50px 0 20px;
    font-size: 14px;
    color: #000;
    outline: none;
    box-sizing: border-box;
}

/* Око */
.password-eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    align-items: center;
}

/* Посилання "Забули пароль?" */
.forgot-pass-link {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-top: 5px;
}
.forgot-pass-link:hover { opacity: 0.8; }

.btn-login {
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #FEE000 0%, #D0B907 100%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn-login:hover { opacity: 0.9; }

.register-link {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.register-link span {
    text-decoration: underline;
    margin-left: 5px;
}