:root {
    font-family: 'Roboto', sans-serif;
    color-scheme: dark;
}

/* Скидаємо всі відступи браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Гарантуємо, що фон завжди чорний і на весь екран */
html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #101010; /* Твій фон */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Блокуємо скрол під час завантаження */
}