:root {
    font-family: 'Roboto', sans-serif;
    color-scheme: dark;
}

/* Скидаємо всі відступи браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Гарантуємо, що фон завжди чорний і на весь екран */
html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #101010; /* Твій фон */
    margin: 0;
    padding: 0;
    overflow: scroll; /* Блокуємо скрол під час завантаження */
}
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-body {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 240px;
    background: #111;
    color: white;
}

.content {
    flex: 1;
    padding: 24px;
}

.header,
.footer {
    background: #222;
    color: white;
    padding: 16px;
}
