/* В index.css має залишитися тільки це: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    /* ВИДАЛИ ЗВІДСИ height та min-height */
    font-family: sans-serif;
    background-color: #111;
    color: #fff;
}